@import url("https://./fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@font-face
{
	font-family: "RDR Gothica";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/RDRGothica-Regular.eot");
	src: url("./fonts/RDRGothica-Regular.eot?#iefix") format("embedded-opentype"),
		url("./fonts/RDRGothica-Regular.woff2") format("woff2"),
		url("./fonts/RDRGothica-Regular.woff") format("woff"),
		url("./fonts/RDRGothica-Regular.ttf") format("truetype");
}
@font-face
{
	font-family: "RDR Catalogue";
	font-style: normal;
	font-weight: bold;
	src: url("./fonts/RDRCatalogueBold-Bold.eot");
	src: url("./fonts/RDRCatalogueBold-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/RDRCatalogueBold-Bold.woff2") format("woff2"),
		url("./fonts/RDRCatalogueBold-Bold.woff") format("woff"),
		url("./fonts/RDRCatalogueBold-Bold.ttf") format("truetype");
}
@font-face
{
	font-family: "RDR Lino";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/RDRLino-Regular.eot");
	src: url("./fonts/RDRLino-Regular.eot?#iefix") format("embedded-opentype"),
		url("./fonts/RDRLino-Regular.woff2") format("woff2"),
		url("./fonts/RDRLino-Regular.woff") format("woff"),
		url("./fonts/RDRLino-Regular.ttf") format("truetype");
}
@font-face
{
	font-family: "Hapna Slab Serif";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/HapnaSlabSerif-DemiBold.eot");
	src: url("./fonts/HapnaSlabSerif-DemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("./fonts/HapnaSlabSerif-DemiBold.woff2") format("woff2"),
		url("./fonts/HapnaSlabSerif-DemiBold.woff") format("woff"),
		url("./fonts/HapnaSlabSerif-DemiBold.ttf") format("truetype");
}
@font-face
{
	font-family: "Redemption";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/Redemption.eot");
	src: url("./fonts/Redemption.eot?#iefix") format("embedded-opentype"),
		url("./fonts/Redemption.woff2") format("woff2"),
		url("./fonts/Redemption.woff") format("woff"),
		url("./fonts/Redemption.ttf") format("truetype");
}
#App
{
	font-family: "RDR Lino" !important;
	height: 100%;
	width: 100%;
}
#MainContent
{
	height: 100%;
}
.FontAwesomeIcon
{
	margin: 4px;
}
.button
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: "RDR Lino" !important;
	padding: 5px;
	text-indent: unset;
}
.button-solid
{
	align-items: center;
	background-color: rgb(211, 20, 20);
	border-radius: 5px;
	color: #fff;
	display: flex;
	justify-content: center;
	padding: 10px;
	transition: all 200ms ease-in-out;
}

.button-solid:hover,
.button-solid.active
{
	background-color: rgb(59, 59, 59);
}

.bookmark-container
{
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-left: -35px;
}
.button-bookmark
{
	background-image: url(./assets/bookmarks_normal.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: center;
	border-radius: 5px;
	color: #fff;
	display: flex;
	justify-content: center;
	padding-left: 14px;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	transition: all 200ms ease-in-out;
}
.button-bookmark:hover,
.button-bookmark.active
{
	padding-left: 16px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(./assets/bookmarks_hover.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.changeCamera_buttons
{
	align-items: center;
	bottom: 10px;
	display: flex;
	font-size: 25px;
	gap: 20px;
	justify-content: center;
	position: absolute;
	width: 100%;
}
.contentWrapper
{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: flex-end;
	width: 100%;
}
.contentWrapper_inner
{
	background-image: url(./assets/inkroller_1a.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	height: 780px;
	justify-content: space-between;
	margin-right: 20px;
	padding: 40px;
	width: 550px;
}
.selectionMenu
{
	bottom: 0;
	display: flex;
	font-size: 20px;
	gap: 20px;
	height: max-content;
	justify-content: center;
	width: 100%;
}
.clothingSection
{
	color: #fff;
	height: 90%;
	width: 100%;
}
.clothingMenu_header
{
	align-items: center;
	background-image: url(./assets/menu_header_1a.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	font-family: "RDR Lino";
	font-size: 32px;
	justify-content: center;
	margin-bottom: 10px;
	padding: 40px 30px;
	text-transform: uppercase;
}
.clothingMenu
{
	max-height: 80%;
	overflow-y: auto;
}
.clothingMenu_options
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 100%;
	padding: 0 20px;
}
.clothingMenu_option
{
	align-items: center;
	background-image: url(./assets/selection_box_bg_1d.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	width: 100%;
}
.clothingMenu_option p
{
	font-size: 20px;
}
.skinItem
{
	align-items: center;
	background-image: url(./assets/selection_box_bg_1d.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	justify-content: space-between;
	padding: 20px 30px;
	width: 100%;
}
.skinItem_text
{
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	width: 100%;
}
.skinControls
{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slider
{
	width: 70% !important;
}
.modalText
{
	display: flex;
	flex-direction: column;
	font-family: "RDR Lino" !important;
	margin-bottom: 10px;
}
.modalText h1
{
	font-size: 32px;
}
.modalText input
{
	padding: 5px;
}
.modalButtons
{
	display: flex;
	flex-direction: row;
	font-family: "Love Ya Like A Sister", sans-serif !important;
	justify-content: space-around;
}
.modalButtons button
{
	width: 30%;
}
.rc-slider-track
{
	background-color: rgb(211, 20, 20) !important;
}
.rc-slider-handle
{
	background-color: rgb(211, 20, 20) !important;
	border: solid 2px #000 !important;
}
.rc-slider-handle:active
{
	box-shadow: 0 0 5px #e0e0e0;
}
::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-track
{
	background-color: rgb(59, 59, 59);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb
{
	background-color: rgb(211, 20, 20);
	border-radius: 5px;
	transition: all 200ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover
{
	background-color: rgb(173, 19, 19);
}
